$width : 992px;
$columnWidth: $width/5;

* {
    margin: 0;
    padding: 0;
}

.global-template{
    width: $width;
    margin: 0 auto;
}

.container-pages{
    display: flex;
    align-items: baseline;
    &-header{
        margin-right: 1rem;
    }
}

.button-as-anchor{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    text-decoration: none;
    background: #eee;
    color: black;
    margin: 0 1rem;
}

.excel-table {
    color: black;
    border-collapse: collapse;
    display: block;
    margin: 1rem auto;
    &-arrows{
        border: 1px solid #ccc;
        text-align: center;
    }
    &-cell{
        vertical-align: middle;
        border: 1px solid #ccc;
        padding: 0 0.25rem 0 0.125rem;
    }
    &-header{
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ccc;
        padding: 0 0.25rem 0 0.125rem;
        width: $columnWidth;
        background-color: #ccc;

    }
    &-icons{
        vertical-align: middle;
        border: 1px solid #ccc;
        padding: 0 0.25rem 0 0.125rem;
        background-color: #ccc;
    }

  }